.App {
  text-align: center;
}

.h1 {
  font-size: 32px;
  font-weight: 700;
  padding: 1rem;
  margin:0;
}

.h2 {
  font-size: 28px;
  font-weight: 400;
  padding: 1.5rem 1rem 1rem 1rem;
}

.h3 {
  font-size: 24px;
  font-weight: 400;
  padding: 1rem 0.75rem 0.75rem 0.75rem;
}

.p {
  font-size: 16px;
  font-weight: 400;
  padding: 0.5rem;
}

.primary {
  background-color: #9785BA;
  color: black;
}

.secondary {
  background-color: #D7C7F4;
  color:#9785BA;
}